**/nbproject/Package-*.bash
build/
nbbuild/
/dist
/build
build/built-jar.properties
/dist/
/build/
/nbproject/
nbproject/
/nbproject
build
build/classes/projetoesdarvores/esd
nbproject/private/private.properties
nbproject/private
