/dist
/build/
/build/*
/build/.*
/build/*.*
build/
build/*
build/.*
build/*.*
build/built-jar.properties
/nbproject/
/nbproject/*
/nbproject/.*
/nbproject/*.*
nbproject/
nbproject/*
nbproject/.*
nbproject/*.*

